
body{
  background:#F4F4F4;
}

.container{
  margin: 15pt;
  width:auto;
}

/* ==========================================================================
   Header custom styles
   ========================================================================== */

header{
    background: #242424;
    vertical-align: middle;
}

#Intro{
  text-align: center;
  color:#FFFFFF;
  font-size:35pt;
  font-family: Raleway, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  padding:50pt 0pt 30pt;
}

#SubIntro{
  color:#525452;
  font-size:15pt;
}


/* ==========================================================================
   Main column custom styles
   ========================================================================== */

.main-column{
  padding:20pt;
  background:#FFFFFF;
  margin: 0 20 0 20;
}

.main-column h2{
  font-size:20pt;
}


/* ==========================================================================
   Sidebar custom styles
   ========================================================================== */

.sidebar div{
  background:#FFFFFF;
  padding:20pt;
  margin: 0 0 30pt;
}

.sidebar h2{
  font-size:20pt;
  text-align: center;
}
