html{
  font-size: 62.5%;
}

body{
  background:#F4F4F4;
  margin:0;
  font-family:  Oswald, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
}

.container{
  width:auto;
  box-sizing: border-box;
}

header{
    vertical-align: middle;
    margin-bottom: 1rem;
}

/* ==========================================================================
   Header  custom styles
   ========================================================================== */


   .header--mainpage{
     display: block;
     height: 100vh;
     overflow: hidden;
     clip-path:polygon(0 0, 100% 0, 100% 85vh, 0 100%);
     position: relative;
     z-index: -1;
   }

   .bg_video{
     position: relative;
     top:0;
     left:0;
     height:100vh;
     width: 100%;
     z-index: -1;
   }

   .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

   .header--mainpage:after{
     content: '';
     background: rgba(51, 51, 51, 0.8);
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
     left:0;
     box-sizing: border-box;
     }

   .bg_video__content{
     height:100%;
     width: 100%;
     object-fit: cover;

   }


   #Intro{
     position: absolute;
     top:40%;
     left:10%;
     text-align: left;
     color:#FFFFFF;
     font-size:7rem;

     /* background-color: #FFFFFF;
     color: transparent;
     text-shadow: 0px 2px 3px rgba(51,51,51,0.5);
     -webkit-background-clip: text;
        -moz-background-clip: text;
             background-clip: text; */
   }

   #SubIntro{
     color:#888888;
     font-size:2rem;
   }

   .header--standard{
     height: 14vh;
     background: #333;
   }




/* ==========================================================================
   Navbar custom styles
   ========================================================================== */



.navbar{
  position:absolute;
  top:0;
  width: 100%;
  z-index: 50;
  margin-bottom: 0;
  vertical-align: middle;
  padding:2rem;
}

.navbar-main, .navbar-admin{
    display: inline-block;
    padding:1.5rem;
    height:100%;
    vertical-align: middle;
}

.header--standard .navbar-main{
  float: right;
}


.navbar-item {
  height: 5rem;
  padding: 2.5rem;
  font-size: 18px;
  line-height: 20px;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.navbar-item:hover,
.navbar-item:focus {
  text-decoration: none;
  color: #FF5733;
  background-color: transparent;
}

.navbar__logo, .navbar__logo:active{
  font-family:  Oswald, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  display:inline-block;
  text-align: left;
  color:white;
  font-size:3.5rem;
  background-color: white;
  color: transparent;
  /* text-shadow: 0px 2px 3px rgba(255,255,255,0.5); */
  text-shadow:none;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  text-decoration:none;
}

.navbar__logo:hover{
  text-decoration: none;
  color:white;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  transform: translateY(-1px);
}

.navbar__logo:active{
  text-decoration: none;
  color:white;
  text-shadow: none;
  transform: translateY(1px);
}

/* ==========================================================================
   Blog custom styles
   ========================================================================== */
 .sidebar > div, .blogpost-intro, .login-form, .edit_post-form, .comment-form{
   margin:2rem 0rem;
   text-align: center;
   box-shadow: 2px 3px 8px -3px grey;
   background:#FFFFFF;
   padding:1rem 2rem;
   box-sizing: border-box;
 }

 .main-column h2{
   font-size:2rem;
 }

.blogpost-intro{
  padding: 6rem 8rem;
  position: relative;
  overflow: hidden;
}

.blogpost-intro__title{
  text-transform: uppercase;
  font-size:4rem;
  letter-spacing: 0px;
  text-align: center;
  margin:3rem 0rem 0rem;
}

.blogpost-intro__title:link,
.blogpost-intro__title:visited,
.blogpost-intro__title:active{
  color: inherit;
  text-decoration: none;
  transition: all .1s;
  transform: scale(1);
  text-shadow: 0px 0px 0px;
}

.blogpost-intro__title:hover
{
  color:black;
}

.blogpost-intro__picture{
  max-width:100%;
  margin:2rem 0rem;
}

.blogpost-intro__link{
  color: black;
  font-size: 1.8rem;
}

.blogpost-intro__link:hover{
  color: black;
  transform: scale(1.1);
}

.blogpost-intro__text{
  text-align: justify;
  font-size: 1.8rem;
}


.blogpost-intro__date{
  position: relative;
  width: 100%;
  height:6rem;
}


.blogpost-intro__date-value{
  position: absolute;
  left:-10%;
  bottom: 5%;
  height:4rem;
  width: 100%;
  background: #333333;
  overflow: hidden;
  clip-path:polygon(0 0, 40% 0, 35% 50%, 40% 100%, 0 100%);
  color: white;
}

.blogpost-intro__date-value p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.Page_navigation{
  text-align: center;
}

.Page_navigation a.page-link{
  color: #333333;
}


.edit-panel{
  display:block;
  margin-bottom: 2rem;
  text-align: right;
  transition: all 0.2s;
}

.btn-dark, .btn-dark:visited {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover,  .btn-dark:active{
    background-color: #23272B;
    border:1px solid #999C9F;
    color:  #fff;
}

.btn-dark:active{
  border:1px solid #999C9F;
  color:#fff;
}


.icon{
  fill: currentColor;
  height:1.5rem;
  width:1.5rem;
}

/* ==========================================================================
   Sidebar custom styles
   ========================================================================== */
.sidebar{
  color:#616161;
  text-align: justify;
}

.sidebar h2{
  font-size:2rem;
  text-align: center;
}

.tags .tag{
  display: inline-block;
  padding: 1rem;
}


.tags .tag:hover{
  color:inherit;
  transform: scale(1.2);
}


.tags a{
  color: black;
  font-size: 1.8rem;
}

.tags a:hover, .tags a:active{
  color: black;
  text-decoration: none;
}
/* ==========================================================================
   Blogpost custom styles
   ========================================================================== */

.tag-
{
  background:  #888888;
  color:#333;
  padding: 1rem;
  font-size:4rem;
  text-align: center;
  text-transform: capitalize;
}

.tag-header h1{
  font-size:3rem;
  background: #888888;
  color:#333;
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;

}



 .blogpost__header{
   max-height: 60vh;
   display: block;
   margin:0;
   overflow: hidden;
   position:relative;
   z-index: -1;
   text-align: center;
   vertical-align: middle;
 }

.blogpost__title{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display:inline;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}


.blogpost__title h1{
  box-sizing: border-box;
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translate(-50%,-50%);
  font-size:8rem;
  color:white;
}



.blogpost__picture:after{
  content: '';
  background: rgba(51, 51, 51, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  box-sizing: border-box;
  }

.blogpost__picture img{
  transform: translateY(-30%);
  width:100%;
  height:100vh;
}


.blogpost__text{
  padding:3rem 0rem 5rem;
  font-size: 2rem;
  position: relative;
  text-align: justify;
}

.blogpost__text h2{
  font-size: 2rem;
  font-weight: bold;

}

.blogpost__text img{
  display: block;
  max-width:90%;
  margin: 2rem;
}

.blogpost__tags{
  transition: all .1s;
}

.blogpost__tags .icon{
  width:2.5rem;
  height:2.5rem;
}

.blogpost__tags .tag{
  display: inline-block;
}

.blogpost__tags .tag:hover{
    transform: scale(1.1);
}

.blogpost__tags a{
  color: inherit;
  padding:1rem;
  font-family:monospace;
  font-size: 2rem;
}

.blogpost__tags a:hover{
  color:#96311c;
  text-decoration: none;
}

.blogpost__date{
  margin:5rem 0rem;
  text-align: right;
  font-size: 1.8rem;
}

.blogpost__edit .btn{
  height:5rem;
  width:10rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  padding:1.5rem;
}

/* ==========================================================================
   Comments custom styles
   ========================================================================== */


.blogpost__comments h2,
.comment{
  border-bottom: 1px solid silver;
  padding: 2rem;
}

.comment__header p{
  display: inline-block;
}

.user_icon{
  width:5rem;
  height:5rem;
  fill:silver;
}

.comment__sender{
  font-weight: bold;
  font-size: 1.7rem;
  padding-right: 2rem;
}

.comment__date{
  font-size: 1.4rem;
  color:#333333;
}
/* ==========================================================================
   Login form custom styles
   ========================================================================== */

.login-section{
  width:100%;
  height:70vh;
  position: relative;
  transition: all .1s;
}

.login-form{
  box-sizing: border-box;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:40rem;
  padding:0rem 5rem;
  border-radius: 25px;
}

.edit_post-form{
  margin: 5rem 10rem;
  padding: 5rem;
  border-radius: 25px;
  font-size: 1.8rem;
  text-align: left;
}

.login-form > *{
  margin-bottom: 2rem;
}


.error{
  background: #FAEBEB;
  border-radius: 5px;
  padding: 1rem;
  /* visibility: hidden;
  display: none; */
}


.login-form h1, .edit_post-form h1{
  margin-bottom: 5rem;
  text-align: center;
}

.edit_post-panel{
  text-align: center;
}

.edit_post-panel > *{
  margin: 2rem;
}

.social_icon{
  display: inline-block;
  float: left;
  height:35px;
  padding-right: 10px;
  padding-bottom: 2px;
}
/* ==========================================================================
   Comment form custom styles
   ========================================================================== */

.comment-form{
  border-radius: 1.5rem;
  background: #474747;
  color:silver;
  font-size: 1.8rem;
}

.comment-form h2{
  font-size: 2.2rem;
  color:white;
  padding-bottom: 2.5rem;
}

.comment-form input, .comment-form textarea{
  background: #272727;
  border-color: black;
  box-shadow: inset 2px 3px 5px rgba( 0, 0, 0, 0.45 );
  color: #C7C7C7;
}


.comment-form input:focus, .comment-form textarea:focus{
  box-shadow: inset 2px 3px 5px rgba( 0, 0, 0, 0.45 );
}

.btn-send_comment{
  width:15rem;
  float:right;
  margin: .7rem 2rem;
}
/* ==========================================================================
   Footer custom styles
   ========================================================================== */

 .footer{
   padding: 2rem;
   background-color:#333333;
   color: silver;
   font-size: 1.5rem;
 }

 .Copyright{
   border-top: 1px solid #272727;
   margin:1rem 1rem 5rem;
   padding: 1rem;
 }
