html{
  font-size: 62.5%;
}

body{
  background:#F4F4F4;
  margin:0;

}

.container{
  width:auto;
  box-sizing: border-box;
}

header{
    vertical-align: middle;
    margin-bottom: 1rem;
}

/* ==========================================================================
   Header  custom styles
   ========================================================================== */


   .header--mainpage{
     display: block;
     height: 85vh;
     overflow: hidden;
     clip-path:polygon(0 0, 100% 0, 100% 65vh, 0 100%);
     position: relative;
     z-index: -1;
   }

   .bg_video{
     position: relative;
     top:0;
     left:0;
     height:85vh;
     width: 100%;
     z-index: -1;
   }

   .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

   .header--mainpage:after{
     content: '';
     background: rgba(51, 51, 51, 0.6);
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
     left:0;
     box-sizing: border-box;
     }

   .bg_video__content{
     height:100%;
     width: 100%;
     object-fit: cover;

   }


   #Intro{
     position: absolute;
     top:40%;
     left:10%;
     text-align: left;
     color:#c8543b;
     font-size:6rem;
     font-family: Baskerville Old;
   }

   #SubIntro{
     color:white;
     font-size:2rem;
   }

   .header--standard{
     height: 14vh;
     background: #333;
   }




/* ==========================================================================
   Navbar custom styles
   ========================================================================== */



.navbar{
  position:absolute;
  top:0;
  width: 100%;
  z-index: 50;
  margin-bottom: 0;
  vertical-align: middle;
  padding:2rem;
}

.navbar-main, .navbar-admin{
    display: inline-block;
    padding:1.5rem;
    height:100%;
    vertical-align: middle;
}

.header--standard .navbar-main{
  float: right;
}


.navbar-item {
  height: 5rem;
  padding: 2.5rem;
  font-size: 18px;
  line-height: 20px;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.navbar-item:hover,
.navbar-item:focus {
  text-decoration: none;
  color: #FF5733;
  background-color: transparent;
}

.navbar__logo{
  font-family: Baskerville Old;
  display:inline-block;
  text-align: left;
  color:#FF5733;
  font-size:3.5rem;
}

.navbar__logo:hover{
  text-decoration: none;
  color:#C8543B;
}

/* ==========================================================================
   Blog custom styles
   ========================================================================== */
 .sidebar > div, .blogpost-intro, .login-form, .edit_post-form{
   margin:2rem 0rem;
   text-align: center;
   box-shadow: 2px 3px 8px -3px grey;
   background:#FFFFFF;
   padding:2rem;
   box-sizing: border-box;
 }

 .main-column h2{
   font-size:2rem;
 }

.blogpost-intro{
  padding: 6rem 8rem;
}

.blogpost-intro__title{
  text-transform: uppercase;
  font-size:3.5rem;
  letter-spacing: 2px;
  text-align: center;
  margin:3rem 0rem 0rem;
}

.blogpost-intro__title:link,
.blogpost-intro__title:visited,
.blogpost-intro__title:active{
  color: inherit;
  text-decoration: none;
  transition: all .1s;
  transform: scale(1);
  text-shadow: 0px 0px 0px;
}

.blogpost-intro__title:hover
{

}

.blogpost-intro__picture{
  max-width:100%;
  margin:2rem 0rem;
}

.blogpost-intro__link{
  color: black;
  font-size: 2rem;
}

.blogpost-intro__link:hover{
  color: black;
  transform: scale(1.1);
}

.blogpost-intro__text{
  text-align: justify;
  font-size: 1.8rem;
}


.Page_navigation{
  text-align: center;
}

.Page_navigation a.page-link{
  color: #333333;
}


.edit-panel{
  display:block;
  margin: 2rem;
  text-align: right;
  transition: all 0.2s;

}

.edit-panel >*{
  display: inline-block;
  padding:2rem;
  text-align: right;
  color: inherit;

}

.edit-panel >*:hover{
  text-decoration: none;
  color: light-blue;
  transform: scale3D(1.1, 1.1, 1.1);
}

.icon{
  fill: currentColor;
  height:1.5rem;
  width:1.5rem;
}

/* ==========================================================================
   Sidebar custom styles
   ========================================================================== */
.sidebar{
  color:#616161;
  text-align: justify;
}

.sidebar h2{
  font-size:2rem;
  text-align: center;
}


/* ==========================================================================
   Blogpost custom styles
   ========================================================================== */

 .blogpost__header{
   max-height: 60vh;
   display: block;
   margin:0;
   overflow: hidden;
   position:relative;
   z-index: -1;
   text-align: center;
   vertical-align: middle;
 }

.blogpost__title{
  position:absolute;
  top:15rem;
  left:0;
  width: 100%;
  height: 100%;
  display:inline;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}

.blogpost__title h1{
  font-size:8rem;
  color:white;
}



.blogpost__picture:after{
  content: '';
  background: rgba(51, 51, 51, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  box-sizing: border-box;
  }

.blogpost__picture img{
  transform: translateY(-30%);
  width:100%;
  height:100%;
}


.blogpost__text{

  margin:2rem;
  font-size: 2rem;
  position: relative;
}


.blogpost__date{

}

/* ==========================================================================
   Forms custom styles
   ========================================================================== */

.login-section{
  width:100%;
  height:70vh;
  position: relative;
  transition: all .1s;
}

.login-form{
  box-sizing: border-box;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:40rem;
  padding:0rem 5rem;
  border-radius: 25px;
}

.edit_post-form{
  margin: 5rem 10rem;
  padding: 5rem;
  border-radius: 25px;
  font-size: 1.8rem;
  text-align: left;
}

.login-form > *{
  margin-bottom: 2rem;
}


.error{
  background: #FAEBEB;
  border-radius: 5px;
  padding: 1rem;
  /* visibility: hidden;
  display: none; */
}


.login-form h1, .edit_post-form h1{
  margin-bottom: 5rem;
  text-align: center;
}

.edit_post-panel{
  text-align: center;
}

.edit_post-panel > *{
  margin: 2rem;
}
/* ==========================================================================
   Footer custom styles
   ========================================================================== */

 .footer{
   padding: 2rem;
   background-color: #FFFFFF;
 }
