{% extends "base.html" %}

{% block navbar %}
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div class="panel1">
<a class="navbar__item" href="#">Home</a>
</div>
<div class="panel2">
<a class="navbar__item" href="#">Add new</a>
</div>
{% endblock %}

{% block content %}

<div class="container blog-posts">

{% include "blog.html"%}

</div>

{% endblock %}
