{% if  1 > 0 %}


{% for blogpost in blogposts.items %}

{% with blogpost = blogpost %}
{% include "blog-post.html"%}
{% endwith %}

{% endfor %}

{% else %}
No posts yet.
{% endif %}

<nav class="Page_navigation" aria-label="Page navigation">
  <ul class="pagination">
    {% if blogposts.has_prev %}
    {% set prevpage = (pagenum | int) - 1 %}
    <li class="page-item"><a class="page-link" href="{{url_for('main.page', pagenum=prevpage)}}">Previous</a></li>
    <li class="page-item"><a class="page-link" href="{{url_for('main.page', pagenum=prevpage)}}">{{prevpage}}</a></li>
    {% else %}{% endif %}
    <li class="page-item"><a class="page-link" href="{{url_for('main.page', pagenum=2)}}">{{pagenum}}</a></li>
    {% if blogposts.has_next %}
    {% set nextpage = (pagenum | int) + 1 %}
    <li class="page-item"><a class="page-link" href="{{url_for('main.page', pagenum=nextpage)}}">{{nextpage}}</a></li>
    <li class="page-item"><a class="page-link" href="{{url_for('main.page', pagenum=nextpage)}}">Next</a></li>
    {% else %}{% endif %}
  </ul>
</nav>
