<div class="card blog-post container" >
 {% if user == 'admin' %}   <!--current_user.role -->
 <div class="editposts">
     <a href="{{url_for('blog.edit', post_id=blogpost.id)}}">
       <svg class="icon">
         <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-edit') | replace('%23', '#')}}"></use>
       </svg> edit
     </a>
     <a href="{{url_for('blog.delete', post_id=blogpost.id)}}">
       <svg class="icon">
         <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-trash') | replace('%23', '#')}}"></use>
       </svg> delete
     </a>
 </div>
 {% endif %}
  <div class="card-block blog-post__content">
    <h4 class="card-title"><a class="blog-post__title" href="{{url_for('blog.read', post_title=blogpost.title)}}">{{blogpost.title}}</a></h4>
    <img class="card-img-top blog-post__picture" src="{{url_for('static', filename=blogpost.imagePath)}}" alt="Blogpost background image">
    <p class="card-text blog-post__text">{{blogpost.content}}</p>
    <a href="{{url_for('blog.read', post_title=blogpost.title)}}" class="btn blog-post__link">Read more...</a>
  </div>
</div>
