<div class="card blogpost-intro container" >

 {% include "edit_post-panel.html" %}


  <div class="card-block blogpost-intro__content">
    <h4 class="card-title"><a class="blogpost-intro__title" href="{{url_for('blog.read', post_url=blogpost.url)}}">{{blogpost.title}}</a></h4>
    {% if blogpost.imagePath %}
      <img class="card-img-top blogpost-intro__picture" src="{{url_for('static', filename=blogpost.imagePath)}}" alt="Blogpost background image">
    {% endif %}
    <div class="blogpost-intro__text">
      <p class="card-text">{{blogpost.intro_content()}}</p>
    </div>
    <a href="{{url_for('blog.read', post_url=blogpost.url)}}" class="btn blogpost-intro__link">READ MORE...</a>
    <div class="blogpost-intro__date">
    <div class="blogpost-intro__date-value"><p>{{blogpost.formated_date()}}</p></div>
    </div>
    </div>
</div>
