{% extends "base.html" %}

{% block header %}
<div class="header--mainpage">
  <div class="bg_video">
    <video class="bg_video__content" autoplay muted loop>
      <source src="{{ url_for('static', filename='img/video.mp4') }}" >
    </video>

  </div>
</div>
<div class="header__intro">
  <div id="Intro">DevNotes
    <div id="SubIntro">Dev`s blog. Quick start to technologies</div>
  </div>
</div>


<div class="header--standard main_page">
  <div class="container">
    <a class="navbar__logo" href="{{url_for('main.index')}}">DevNotes</a>
    <input type="checkbox" id="mNav" style="display: none">
    <label for="mNav" class="menustate"><span></span></label>
    <nav class="navbar" role="navigation">
      <ul class="main-navigation">

        <li class="navbar-item"><a href="{{url_for('main.index')}}">HOME</a></li>
        <li class="navbar-item"><a href="#">ABOUT</a></li>

        {% if current_user.is_authenticated %}

            <li class="navbar-item"><a href="{{url_for('blog.add')}}">
              <svg class="icon">
                <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-new-message') | replace('%23', '#')}}"></use>
              </svg>
              NEW POST</a></li>
            <li class="navbar-item"><a href="{{url_for('admin.blogposts_panel')}}">ADMIN</a></li>
            <li class="navbar-item"><a href="{{url_for('auth.logout')}}">LOG OUT</a></li>

        {% endif %}

      </ul>
    </nav>
  </div>
</div>
{% endblock %}
