{% extends "base.html" %}


{% block content %}
<div class="main-column">
  <section class="edit_post-form">
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <h1>{{form_title}}</h1>

      <div class="form-group row {% if form.title.errors %} has-error {% endif %}">
         <div class="col-sm-2 col-form-label">{{form.title.label() | safe}}</div>
         <div class="col-sm-10">
           {{ form.title(placeholder="", class="form-control", maxlength=128) | safe}}
         </div>
         <p class="col-sm-7 help-block">
           {{ form.title.errors[0] | safe}}
       </div>

      <div class="form-group row {% if form.imagePath.errors %} has-error {% endif %}">
         <div class="col-sm-2 col-form-label">{{form.imagePath.label() | safe}}</div>
         <div class="col-sm-10">
           {{ form.imagePath(placeholder="", class="form-control", maxlength=128) | safe}}
         </div>
         <p class="col-sm-7 help-block">
           {{ form.imagePath.errors[0] | safe}}
       </div>

      <div class="form-group row {% if form.content.errors %} has-error {% endif %}">
         <div class="col-sm-2 col-form-label">{{form.content.label() | safe}}</div>
         <div class="col-sm-10">
           {{ form.content(placeholder="", class="form-control", rows='25', maxlength=516) | safe}}
         </div>
         <p class="col-sm-7 help-block">
           {{ form.content.errors[0] | safe}}
       </div>

      <div class="form-group row {% if form.tags.errors %} has-error {% endif %}">
         <div class="col-sm-2 col-form-label">{{form.tags.label() | safe}}</div>
         <div class="col-sm-10">
           {{ form.tags(placeholder="", class="form-control", maxlength=128) | safe}}
         </div>
         <p class="col-sm-7 help-block">
           {{ form.tags.errors[0] | safe}}
       </div>

      <div class="form-group edit_post-panel">
        <div class="col-form-label"> {{ form.published | safe}} Publish </div>
      </div>


      <input id="upload_img" name="images_save"  type="file" multiple >

       {% if files.__len__() >0 %}
      <br>
          <div class="file_list">
            <div>
              <label>Uploaded images. Check to DELETE</label>
            </div>
            {% for file in files %}
              <div class="row" >
                <div class="col-sm-1"><input value="{{file}}" name="images_delete" type="checkbox"></div>
                <div class="col-sm-2"><img src="{{url_for('static', filename='img/' + post_id + '/' + file )}}" style="width:100%"></div>
                <div class="col-sm-6">{{file}}</div>
              </div>
            {% endfor %}
          </div>
      {% endif %}

      <div class="form-group row edit_post-panel">
        <button class="btn btn-lg btn-success btn-save_post" type="submit">Submit</button>
        <a href="{{url_for('main.index')}}" class="btn btn-lg btn-primary btn-save_post" type="cancel">Cancel</a>
      </div>
    </form>
  </section>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
