<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DevNotes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="header">
      {% block header %}
        <div class="header--standard">
          <div class="container">
            <a class="navbar__logo" href="{{url_for('main.index')}}">DevNotes</a>
            <input type="checkbox" id="mNav" style="display: none">
            <label for="mNav" class="menustate"><span></span></label>
            <nav class="navbar" role="navigation">
              <ul class="main-navigation">

                <li class="navbar-item"><a href="{{url_for('main.index')}}">HOME</a></li>
                <li class="navbar-item"><a href="#">ABOUT</a></li>

                {% if current_user.is_authenticated %}

                    <li class="navbar-item"><a href="{{url_for('blog.add')}}">
                      <svg class="icon">
                        <use xlink:href="{{ url_for('static', filename='img/sprite.svg#icon-new-message') | replace('%23', '#')}}"></use>
                      </svg>
                      NEW POST</a></li>
                    <li class="navbar-item"><a href="{{url_for('admin.blogposts_panel')}}">ADMIN</a></li>
                    <li class="navbar-item"><a href="{{url_for('auth.logout')}}">LOG OUT</a></li>

                {% endif %}

              </ul>
            </nav>
          </div>
        </div>
      {% endblock %}
    </header>



    <!-- Container with main-column and sidebar starts-->
    <div class="container main-container">

      <div id="flashes" >
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li>
                <div class="{{ category }}">{{ message }}</div>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

      <div class="row">

        {% block content %}
          <div class="col-md-9 ">
            <div class="main-column">
              <div class="container blog-posts">
              {% with blogposts = blogposts %}
              {% include "blog.html"%}
              {% endwith %}
              </div>
            </div>
          </div>
        {% endblock %}

        {% block sidebar %}
          <aside class="col-md-3">
            <div class="sidebar">
              <div class="tags container">
                <h2>TAGS</h2>
                {% if tags %}
                  {% for tag in tags %}
                    <div class="tag"><a href="{{url_for('main.tag', name=tag.name)}}">{{tag}}</a></div>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="blockquote container">
                <blockquote>
                  <p>{{ quote.content }}</p>
                  <footer> <cite title="Source Title">{{ quote.author }}</cite></footer>
                </blockquote>
              </div>
            </div>
          </aside>
        {% endblock %}

      </div>
      <!-- Container with main-column and sidebar ends-->

    </div> <!-- /container -->
  </body>
  <footer class="footer">
    <div class="Copyright">
      <p>&copy; Copyright © 2018 DevNotes</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>

  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</html>
